@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-stone-950 text-stone-100;
}

@font-face {
	font-family: 'Dosis';
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: url(/fonts/dosis/Dosis-ExtraLight.ttf);
}
@font-face {
	font-family: 'Dosis';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(/fonts/dosis/Dosis-Light.ttf);
}
@font-face {
	font-family: 'Dosis';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/dosis/Dosis-Regular.ttf);
}
@font-face {
	font-family: 'Dosis';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(/fonts/dosis/Dosis-Medium.ttf);
}
@font-face {
	font-family: 'Dosis';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url(/fonts/dosis/Dosis-SemiBold.ttf);
}
@font-face {
	font-family: 'Dosis';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(/fonts/dosis/Dosis-Bold.ttf);
}
@font-face {
	font-family: 'Dosis';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url(/fonts/dosis/Dosis-ExtraBold.ttf);
}
